$softred: hsl(7, 99%, 70%);
$softredo: rgba(254, 120, 103, 0.25);
$yellow: hsl(51, 100%, 49%);
$yellowo: rgba(250, 212, 0, 0.25);
$darkdesaturatedcyan: hsl(167, 40%, 24%); //graphic design text
$darkblue: hsl(198, 62%, 26%); // photography text
$darkmoderatecyan: hsl(168, 34%, 41%); //footer

$verydarkdesaturatedblue: hsl(212, 27%, 19%);
$verydarkgrayishblue: hsl(213, 9%, 39%);
$darkgrayishblue: hsl(232, 10%, 55%);
$grayishblue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);
$smoothgreen: #90D4C6;

$mobilesize: '390px';
$tabletsize: '1100px';

@mixin mq-minwidth($screensize) {
    @media (min-width:$screensize) {
        @content;
    }
}

@mixin titlestyle {
    color: $verydarkdesaturatedblue;
    font-size: 40px;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    letter-spacing: -0.286px;
}

@mixin containstyle($margin-top) {
    color: $darkgrayishblue;
    font-family: 'Barlow', sans-serif;
    letter-spacing: -0.129px;
    font-weight: 600;
    margin-top: $margin-top;
    line-height: 30px;
}

@mixin learnstyle {
    color: $verydarkdesaturatedblue;
    font-size: 14px;
    font-weight: 900;
    font-family: 'Fraunces', serif;
    line-height: 25px;
    text-transform: uppercase;
    margin-left: 8px;
}

@mixin textstyle {
    font-family: 'Fraunces', serif;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: -0.2px;
    text-align: center;
    margin-top: 398px;
}

@mixin textform {
    font-family: 'Barlow', sans-serif;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    line-height: 27px;
    letter-spacing: -0.114px;
    max-width: 339px;
    max-height: 81px;
    width: 100%;
    height: 100%;
    margin-left: 191px;
    margin-right: 190px;
}

@mixin textimonial {
    text-align: center;
    color: $verydarkgrayishblue;
    font-family: 'Barlow', sans-serif;
    font-weight: bolder;
    line-height: 32px;
    letter-spacing: -0.129px;
    font-size: 18px;

}

@mixin pfpstyle {
    width: 72px;
    height: 72px;
    background-size: cover;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    border-radius: 100%;
    flex-shrink: 0;
}

@mixin footerimg {
    max-width: 360px;
    width: 100%;
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

//font-family: 'Barlow', sans-serif;
//font-family: 'Fraunces', serif;

* {
    font-size: 18px;
}

html {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
}

.container {
    position: relative;
    width: 100%;
    margin-top: 0%;
    max-width: 1440px;
    height: auto;

    &__nav {
        display: flex;
        position: absolute;
        flex-direction: row;
        align-items: center;
        margin-top: 34px;
        margin-left: 30px;
        width: 1352px;
        max-height: 56px;
        height: 100%;
        justify-content: space-between;
        font-family: 'Barlow', sans-serif;
        font-weight: 600;
        color: $white;

        &__logo {
            max-width: 170px;
            width: 100%;
            max-height: 33px;
            height: 100%;
            background-image: url('logo.svg');
            background-repeat: no-repeat;
            background-size: cover;
        }
        &__contain {
            display: flex;
            list-style: none;
            margin-left: 660px;

            &__selector {
                margin-right: 47px;
            }
            &__button {
                display: flex;
                justify-content: center;
                max-width: 140px;
                width: 100%;
                max-height: 56px;
                align-items: center;
                height: 100%;
                margin-right: 0;
                background-color: $white;
                border-radius: 28px;
                &__txt {
                    color: $verydarkgrayishblue;
                    font-weight: bolder;
                    font-family: 'Fraunces';
                    font-size: 15px;
                    text-transform: uppercase;
                }
            }
        }
    }
    &__header {
        display: flex;
        width: 1440px;
        height: 800px;
        background-image: url('photos/image-header.jpg');
        background-repeat: no-repeat;
        background-size: cover;

        &__title {
            max-width: 750px;
            max-height: 69px;
            width: 100%;
            height: 100%;
            margin: 0;
            font-size: 56px;
            text-align: center;
            font-family: 'Fraunces';
            font-weight: bolder;
            color: $white;
            margin-top: 191px;
            letter-spacing: 8.75px;
            margin-left: 344.5px;
            margin-right: 345.5px;
        }

        &__arrow {
            max-width: 31px;
            max-height: 107.48px;
            height: 100%;
            width: 100%;
            background-image: url('icons/icon-arrow-down.svg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            margin-left: 705px;
            margin-right: 705px;
            margin-top: 360.54px;
            position: absolute;
        }
    }

    &__box {
        height: 1200px;

        &__egg {
            height: 600px;
            max-width: 720px;
            width: 100%;
            background-repeat: no-repeat;
            background-image: url('photos/image-transform.jpg');
            background-size: cover;
            position: absolute;
            margin-left: 720px;
        }

        &__glass {
            height: 600px;
            max-width: 720px;
            width: 100%;
            background-repeat: no-repeat;
            background-image: url('photos/image-stand-out.jpg');
            background-size: cover;
            position: absolute;
            margin-top: 600px;
        }

        &__texta {
            width: 445px;
            height: 285px;
            margin-left: 165px;
            margin-top: 158px;
            position: absolute;

            &__title {
                @include titlestyle();
            }

            &__contain {
                @include containstyle(32px)
            }

            &__learn {
                max-width: 120px;
                max-height: 10px;
                width: 100%;
                height: 100%;
                position: relative;
                background-color: $yellowo;
                margin-bottom: 0;
                border-radius: 28px;
                cursor: pointer;
                

                &__p {
                    @include learnstyle();
                    position: absolute;
                    margin-top: -13px;
                }
            }
        }

        &__textb {
            width: 445px;
            height: 285px;
            margin-left: 830px;
            margin-top: 757px;
            position: absolute;

            &__title {
                @include titlestyle();
            }

            &__contain {
                @include containstyle(33px)
            }

            &__learn {
                max-width: 120px;
                max-height: 10px;
                width: 100%;
                height: 100%;
                position: relative;
                background-color: $softredo;
                margin-bottom: 0;
                border-radius: 28px;
                cursor: pointer;

                &__p {
                    @include learnstyle();
                    position: absolute;
                    margin-top: -13px;
                }
            }
        }
    }

    &__box2 {
        max-width: 1440px;
        width: 100%;
        height: 600px;

        &__choice {
            display: flex;
            max-width: 720px;
            width: 100%;

            &--first {
                float: left;
                max-width: 720px;
                width: 100%;
                height: 600px;
                background-image: url('photos/image-graphic-design.jpg');
            }

            &--second {
                margin-left: 720px;
                position: absolute;
                float: right;
                max-width: 720px;
                width: 100%;
                height: 600px;
                background-image: url('photos/image-photography.jpg');
            }

            &__title1 {
                @include textstyle();
                color: $darkdesaturatedcyan;
            }

            &__title2 {
                @include textstyle();
                color: $darkblue;
            }

            &__text1 {
                @include textform();
                color: $darkmoderatecyan;
            }

            &__text2 {
                @include textform();
                color: $verydarkdesaturatedblue;
            }
        }
    }

    &__client {
    display: flex;
    max-width: 1275px;
    width: 100%;
    height: 457px;
    flex-shrink: 0;
    align-items: flex-end;
    justify-content: center;
    gap: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 160px;
    margin-bottom: 160px;
       
        &__title {
            position: absolute;
            margin-bottom: 440px;
            text-align: center;
            font-family: 'Fraunces', serif;
            font-size: 20px;
            font-weight: 900;
            letter-spacing: 5px;
            text-transform: uppercase;
            color: $darkgrayishblue;
        }

        &__pres {
            display: flex;
            flex-direction: column;
            max-width: 350px;
            width: 100%;
            height: 345px;

            &__picture {
                @include pfpstyle(); 
                background-image: url('people/image-emily.jpg');
            }
            &__picture2 {
                @include pfpstyle(); 
                background-image: url('people/image-thomas.jpg');
            }
            &__picture3 {
                @include pfpstyle(); 
                background-image: url('people/image-jennie.jpg');
            }
            &__text {
                @include textimonial();
                margin-bottom: 64px;
            }
            &__name {
                text-align: center;
                font-family: 'Fraunces', serif;
                font-weight: 900;
                font-size: 18px;
                color:$verydarkdesaturatedblue;
                margin-bottom: 0;
            }
            &__status {
                text-align: center;
                font-family: 'Barlow', sans-serif;
                font-size: 14px;
                font-weight: 600;
                line-height: 25px;
                color: $grayishblue;
                letter-spacing: -0.1px;
                margin-top: 3px;
            }
        }
    }

    &__footer {
        display: grid;
        grid-template-columns: repeat(8, 180px);
        grid-template-rows: 450px 350px;
        max-width: 1440px;
        width: 100%;
        height: 800px;
        
        &__img {
            @include footerimg();
            background-image: url('photos/image-gallery-milkbottles.jpg');
            grid-column: 1 / 3;
        }
        &__img2 {
            @include footerimg();
            grid-column: 3 / 5;
            background-image: url('photos/image-gallery-orange.jpg');
        }
        &__img3 {
            @include footerimg();
            grid-column: 5 / 7;
            background-image: url('photos/image-gallery-cone.jpg');
        }
        &__img4 {
            @include footerimg();
            grid-column: 7 / 9;
            background-image: url('photos/image-gallery-sugarcubes.jpg');
        }
        &__foot {
            display: flex;
            background-color: $smoothgreen;
            height: 350px;
            width: 100%;
            grid-column: 1 / 9;
            grid-row: 2;
            align-items: center;
            flex-direction: column;

            &__title {
                max-width: 170px;
                width: 100%;
                max-height: 33px;
                height: 100%;
                background-image: url('logogreen.svg');
                background-repeat: no-repeat;
                background-size: cover;
                margin-top: 72px;
                margin-bottom: 40px;
            }

            &__page {
                display: flex;
                max-width: 297px;
                width: 100%;
                list-style: none;
                padding: 0;
                justify-content: space-between;
                margin-bottom: 80px;

                &__but {
                    color: $darkmoderatecyan;
                    font-family: 'Barlow', sans-serif;
                    font-weight: 600;
                    line-height: 25px;
                    flex-direction: row;
                }
            }

            &__contact {
                display: flex;
                justify-content: space-between;
                max-width: 164px;
                width: 100%;
            }
        }
    }
}

.container__nav__contain__button:hover {
    background-color: rgba(255,255,255, 0.2537);
    

    .container__nav__contain__button__txt {
        color: $white;
    }
}

.container__box__texta__learn:hover {
    background-color: $yellow;
}

.container__box__textb__learn:hover {
    background-color: $softred;
}

.container__footer__foot__page__but:hover {
    color: #fff;
}

.container__footer__foot__contact__fb:hover {
    filter: brightness(0) invert(2);
}
.container__footer__foot__contact__insta:hover {
    filter: brightness(0) invert(2);
}
.container__footer__foot__contact__twitter:hover {
    filter: brightness(0) invert(2);
}
.container__footer__foot__contact__pin:hover {
    filter: brightness(0) invert(2);
}